{% extends 'base.html.twig' %}
{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{{ form_start(form_read) }}
	{{ form_widget(form_read) }}
	{{ form_end(form_read) }}
	<p></p>
    {{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<p></p>
	{{ form_start(form_delete) }}
	{{ form_widget(form_delete) }}
	{{ form_end(form_delete) }}

{% endblock %}
{% block stylesheets %}
{% endblock %}